*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
}

body{
	min-width: 1200px;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-size: 3em;
}

/* Utility */

.Center{
    text-align: center;
}

.txt_align_l{
    text-align: left;
}

.txt_align_r{
    text-align: right;
}

.txt_default_color{
    color: #33475b;
}

.fw_500{
    font-weight: 500;
}

.mt_20{
    margin-top: 20px;
}

.mb_20{
    margin-bottom: 20px;
}

.mb_40{
    margin-bottom: 40px;
}

.ml_20{
    margin-left: 20px;
}

.mr_20{
    margin-right: 20px;
}

.pt_60{
    padding-top: 60px;
}

.wd_25{
    width: 25%;
}

.half_width{
    width: 50%;
}

.wd_65{
    width: 65%;
    margin: auto;
}

.width_80{
    width: 80%;
    padding-top: 25px;
    margin: auto;
}

.pd_30{
    padding: 30px;
}

.Vertical_Line{
    border-left: 1px solid black;
}

.Horizontal_Line{
    width: 100px;
    color: black;
}

.btn{
    background-color: #fe775a;
    border-radius: 5px;

    padding: 10px;

    color: white;
}

.btn_white{
    background-color:white;
    border-radius: 5px;

    padding: 10px;

    color: #fe775a;
    border: 1px solid #fe775a;
}

.btn_largo{
    display: inline-block;
    padding: 20px 40px;
}

.btn_footer{
    background-color: #DADEE0;
    color: #32495B;
    padding: 8px;
    border-radius: 5px;
}

.Float_Left{
    float: left;
}

.Clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* ------ */

.Container{
    width: 70%;
    margin: auto;
}

#Search_Img{
    height: 15px;
}

#Cube_Img{
    height: 250px;
}

#Top_Nav{
    height: 80px;
    background-color: #f4f9fd;
}

#Bottom_Nav{
    height: 80px;
}

.Nav_Center > img{
    margin-top: 25px;
}

.jumbotron{
    height: 610px;

    background-image: url("../img/jumbotron.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-color: #fff5ee;
}

.empty_div{
    height: 100px;
    background-color: #afebe4;

    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}

.idk{
    background-color: #f4f9fd;
    padding-bottom: 40px;
}

.Card{
    background-color: white;
    box-shadow: 0px 0px 1px;
    border-radius: 5px;
    padding-bottom: 30px;

    float: left;
}

.Card i{
    color: #fe775a;
    margin-right: 10px;
}

.Nav_Center{
    width: 50%;
    font-weight: 500;
    line-height: 80px;

    float: left;
}

.Horizontal_Card{
    width: 100%;

    padding-top: 60px;
    padding-bottom: 60px;
}

/* Rimuovere altezze fisse dopo aver inserito tutto il contenuto  */

.Vertical_Card{
    width: 30%;
    text-align: center;
}

.Vertical_Card p::after{
    content: '';
    width: 100%;
    border-top: 2px solid #899397;
    margin-top: 60px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
}

.small_imgs{
    height: 100px;

    display: block;
    margin: auto;
}

#ld{
    width: 35%;
    text-align: center;
}

#rd{
    width: 55%;
}

.Blue_Gradient{
    background-image: linear-gradient(to right top, #00abb7, #00afb5, #00b3b1, #00b7ad, #00bba7);
    color: white;

    padding-top: 50px;
    padding-bottom: 50px;
}

.Blue_Gradient h2{
    font-size: 2em;
}

.BG_White{
    background-color: white;
    padding-bottom: 40px;
}

#Card_Centrale{
    margin-left: calc(10%/2);
    margin-right: calc(10%/2);
}

.Icons_Top, .Icons_Bottom{
    width: 100%;
}

.Icons_Top{
    margin-top: 80px;
/*     padding: 30px; */
}

.Icons_Top > div{
    border-bottom: 1px solid white;
}

.bordo_destro{
    border-right: 1px solid #fff;
}

.Partners_Img{
    width: 120px;
    margin-right: 35px;
    vertical-align: middle;
}

.wd_90{
    width: 90%;
    margin-top: 50px;
    margin-left: 8%;
    margin-bottom: 85px;
}

 .wd_90 > div:first-child{
     width: 20%;
 }

.BG_White h2{
    font-size: 2em;
}

footer{
    background-color: #32495b;
    color: #cbd6e2;
    padding-bottom: 40px;

    font-weight: 600;
}

footer h4{
    color: white;

    margin-top: 40px;
    margin-bottom: 40px;
}

footer .wd_25 a{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
}

.Horizontal_Card h3::after{
    content: '';
    width: 65%;
    border-top: 2px solid #899397;
    margin-left: 40px;

    display: inline-block;
    vertical-align: middle;
}

#Lingue_Footer{
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

#Copyright{
    color: white;
}

#Logo_Footer{
    filter: opacity(0.7);
}

#Partners_Div{
    width: 78%;
}