*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
}

body{
	min-width: 1200px;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-size: 3em;
}

/* Utility */

.txt_align_r{
    text-align: right;
}

.txt_default_color{
    color: #33475b;
}

.fw_500{
    font-weight: 500;
}

.mt_20{
    margin-top: 20px;
}

.mb_20{
    margin-bottom: 20px;
}

.ml_20{
    margin-left: 20px;
}

.mr_20{
    margin-right: 20px;
}

.pt_60{
    padding-top: 60px;
}

.Center{
    text-align: center;
}

.half_width{
    width: 50%;
}

.wd_65{
    width: 65%;

    margin: auto;
}

.Vertical_Line{
    border-left: 1px solid black;
}

.Horizontal_Line{
    width: 100px;
    color: black;
}

.btn{
    background-color: #fe775a;
    border-radius: 5px;

    padding: 10px;

    color: white;
}

.btn_white{
    background-color:white;
    border-radius: 5px;

    padding: 10px;

    color: #fe775a;
    border: 1px solid #fe775a;
}

.Float_Left{
    float: left;
}

.Clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* ------ */

.Container{
    width: 70%;
    margin: auto;
}

#Search_Img{
    height: 15px;
}

#Cube_Img{
    height: 250px;
}

#Top_Nav{
    height: 80px;
    background-color: #f4f9fd;
}

#Bottom_Nav{
    height: 80px;
}

.Nav_Center > img{
    margin-top: 25px;
}

.jumbotron{
    height: 600px;
    background-image: url("../img/jumbotron.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 65%;
}

.empty_div{
    height: 100px;
    background-color: #afebe4;

    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}

.idk{
    background-color: #f4f9fd;
    height: 1200px;
}

.Card{
    background-color: white;
    box-shadow: 0px 0px 1px;
    border-radius: 5px;

    float: left;
}

.Nav_Center{
    width: 50%;
    line-height: 80px;

    float: left;
}

.Horizontal_Card{
    width: 100%;

    padding-top: 60px;
    padding-bottom: 60px;
}

/* Rimuovere altezze fisse dopo aver inserito tutto il contenuto  */

.Vertical_Card{
    width: calc(100%/4);
    height: 450px;

/*     margin-right: 9%; */
}

.small_imgs{
    height: 100px;

    display: block;
    margin: auto;
}

#ld{
    width: 35%;
    text-align: center;
}

#rd{
    width: 55%;
}


.shish{
    background-color: #fe775a;
    border-radius: 50%;
    padding: 2px 5px;

    font-size: 12px;
    font-weight: bold;
    color: white;

    margin-right: 10px;
}

.Blue_Gradient{
    background-image: linear-gradient(to right top, #00abb7, #00afb5, #00b3b1, #00b7ad, #00bba7);
    color: white;

    height: 600px;
}

.BG_White{
    height: 600px;
    background-color: white;
}

footer{
    height: 450px;
    background-color: #32495b;
}

#Card_Centrale{
    margin-left: calc(25%/2);
    margin-right: calc(25%/2);
}

.Icons_Top, .Icons_Bottom{
    width: 100%;
}

.wd_25{
    width: 25%;
    float: left;
}